@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>O site de anedotas do Ruben.</p>
	<p><img src="~/imagens/trollface_non-free.png" /></p>
</div>
